@layer component {
  #layout-page-overlay {
    background-color: white;
    margin-top: -16px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    padding-top: 10px;
    /* since #app-header now creates a stacking context, we need this one to appear on top again */
    position: relative;
  }

  .layout-timestamp {
    margin-top: 12px;
    margin-bottom: 0px;
  }


  .layout-timestamp:first-of-type {
    margin-top: 0px;
  }

  .layout-subpage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
  }
}