@layer component {
    #nav-spacer {
        height: 70px;
        background-color: white;
    }

    nav {
        position: fixed;
        bottom: 0;
        width: 100%;
        /* If not for background color white, then nav background will be transparent */
        background-color: white;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* Use box shadow / upper border */
        box-shadow: 0px -1px 1px rgb(0 0 0 / 10%);
        text-align: center;
    }

    .nav-item {
        padding: 1rem 0;
        cursor: pointer;
    }
}